{% extends 'account/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main id="main" class="main">
  <center>
    <div class="col-xxl-4 col-xl-6">
      <div class="card">
        <div class="card-body">
          <h1 class="center">Address Verification</h1>
          <div style="width: 90%;">
            <p>Please verify your address by uploading a recent utility bill. You can update your address <a href="{% url 'updateaddress' %}">here</a>.</p>
          </div>

          <p style="text-align: left;">
            <strong>City:</strong> {{user.city}}<br>
            <strong>State:</strong> {{user.state}}<br>
            <strong>Zip Code:</strong> {{user.post_code}}<br>
            <strong>Country:</strong> {{user.country}}<br>
            <strong>Street:</strong> {{user.street_address}}<br>
          </p>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-sm-12">
                {{form|crispy}}
              </div>
            </div>

            <button type="submit" class="btn btn-full">Submit</button>
        </form>

        </div>
      </div>
    </div>
  </center>
</main>
{% endblock content %}