{% extends 'account/main.html' %}
{% load static %}

{% block content %}
<main id="main" class="main">

  <div>
    <div>

      
      <center>
       <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-10">
            <br>

            <h4 class="center">BUY CRYPTO</h4>
            <P>buy bitcoin, ethereum, and other crypto currencies for account funding from third parties</P>
            
            <br>

          <div class="card info-card customers-card over" style="margin-bottom: 0px;">

              <div class="card-body ">
                <a href="https://bitso.com/" target="_blank" style="color: ;">Bitso</a>
              </div>
            </div>

            <div class="card info-card customers-card over" style="margin-bottom: 0px;">
              <div class="card-body ">
                <a href="https://paxful.com/" target="_blank" style="color:;">Paxful</a>
              </div>
            </div>

            <div class="card info-card customers-card over" style="margin-bottom: 0px;">
              <div class="card-body ">
                <a href="https://www.coinbase.com/" target="_blank" style="color:;">Coinbase</a>
              </div>
            </div>
            <div class="card info-card customers-card over"  style="margin-bottom: 0px;">
              <div class="card-body ">
                <a href="https://www.moonpay.com/" target="_blank" style="color:;">Moon Pay</a>
              </div>
            </div>
            <div class="card info-card customers-card over" target="_blank" style="margin-bottom: 0px;">
              <div class="card-body ">
                <a href="https://bitcoin.co.uk/" target="_blank" style="color:;">Bitcoin.UK</a>
              </div>
            </div>

          </center>
    </div>
  </div>

</main><!-- End #main -->
{% endblock content %}