{% extends 'account/main.html' %}
{% block content %}
<main id="main" class="main">
  <div style="padding: 20px;"></div>
  <form action="" method="post">
    {% csrf_token %}
    <div class="col-sm-12 col-xl-12">
      <select class="form-select" name="coin" required>
        <option value="">--Select Currency--</option>
        <option value="crypto">Cypto</option>
        <option value="forex">Forex</option>
        <option value="stock">Stock</option>
      </select>
      <button class="btn btn-secondary mt-1 mb-5 w-100" type="submit">Search</button>
    </div>

  </form>

  {% for data in data %}
  <div class="col-xxl-12 col-xl-12 col-sm-12">
    <div class="card over" style="margin-bottom: 0px;">
      <div class="card-body">
        <div class="app-flex " style="align-items: center;">

          <div style="flex: 0.8 1 0%;">
            <div class="col-sm-2">
              <center>
                {% if data.type == 'stock' %}
                <img class="cryptoicons" src="{{data.stock_image.url}}" width="60" height="60"
                  style="border-radius: 5px;">
                {% else %}
                <img class="cryptoicons" src="{{data.image}}" width="60" height="60" style="border-radius: 5px;">
                {% endif %}
              </center>
            </div>
          </div>

          <div style="flex: 7 1 0%;  padding-left: 20px;">
            <div class="">
              <p>{{data.name | upper}}</p>
              <span style="font-size: 12px;">{{data.symbol | upper}}</span>
            </div>
          </div>

          <div style="flex: 4 0 0%; margin-top: -41px;">
            <span>{{data.current_price}}</span>
          </div>
          <div>
            <a style="font-size: larger;" target="_blank" href="{% url 'trading-room' data.code data.type %}">view</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock content %}