{% extends 'account/main.html' %}
{% load static %}

{% block content %}
<main id="main" class="main">
  <center>
    <div style="padding: 20px;"></div>


  <div class="col-xxl-4 col-xl-10">
    <div class="card over" style="margin-bottom: 0px;">
      <div class="card-body">
        <div class="app-flex " style="align-items: center;">


          <div style="flex: 0.8 0 0%;">
            <span>FEB</span><br>
            <span>28</span>
          </div>

          <div style="flex: 0.8 1 0%;">
            <div class="col-sm-2">
              <center>
                <img class="cryptoicons" src="{% static 'assets/img/pair-icon-aaveusd.img.svg' %}" style="border-radius: 5px;">
              </center>
            </div>
          </div>

          <div style="flex: 7 1 0%;  padding-left: 20px;">
            <div class="">
              <p>BTCUSD <span style="color:green;">BUY</span> </p>
              <span style="font-size: 12px;">John MBA Trades</span>
            </div>
          </div>


          <div style="margin-top: -46px;">
            <span style="color:green;"> +$91.55</span>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="col-xxl-4 col-xl-10">
    <div class="card over" style="margin-bottom: 0px;">
      <div class="card-body">
        <div class="app-flex " style="align-items: center;">


          <div style="flex: 0.8 0 0%;">
            <span>FEB</span><br>
            <span>28</span>
          </div>

          <div style="flex: 0.8 1 0%;">
            <div class="col-sm-2">
              <center>
                <img class="cryptoicons" src="{% static 'assets/img/pair-icon-aaveusd.img.svg' %}" style="border-radius: 5px;">
              </center>
            </div>
          </div>

          <div style="flex: 7 1 0%;  padding-left: 20px;">
            <div class="">
              <p>BTCUSD <span style="color:red;">SELL</span> </p>
              <span style="font-size: 12px;">John MBA Trades</span>
            </div>
          </div>


          <div style="margin-top: -46px;">
            <span style="color:red;">-$91.55</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl-4 col-xl-10">
    <div class="card over" style="margin-bottom: 0px;">
      <div class="card-body">
        <div class="app-flex " style="align-items: center;">

          <div style="flex: 0.8 1 0%;">
            <div class="col-sm-2">
              <center>
                <img class="cryptoicons" src="{% static 'assets/img/pair-icon-adausd.img.svg' %}" style="border-radius: 5px;">
              </center>
            </div>
          </div>

          <div style="flex: 7 1 0%;  padding-left: 20px;">
            <div class="">
              <p>Cardano</p>
              <span style="font-size: 12px;">ADAUSD</span>
            </div>
          </div>

          <div style="flex: 4 0 0%; margin-top: -41px;">
            <span>0.3553803</span>
          </div>
          <div style="margin-top: -46px;">
            <span class="material-icons"><a href="" style="color: gold;"> star</a> </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  </center>
</main><!-- End #main -->
{% endblock content %}