{% extends 'account/main.html' %}
{% load static %}
{% block content %}
<main id="main" class="main">
  <section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">


           

      <header class="section-header" style="text-align: center;">
        <h2>Minning Plans</h2>
      </header>

      <div style="padding: 20px;"></div>

      <div class="row gy-4" data-aos="fade-left">
        {% for plan in plan %}
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0;">{{plan.name}} Weeks Contract</h3>
            <div class="price">${{plan.min_amount}}</div>
            <ul>
              <li>Min Deposit ${{plan.max_amount}}</li>
              {% if plan.max_amount == None %}
              <li>Max Deposit $</li>
              {% else %}
              <li>Max Deposit ${{plan.max_amount}}</li>
              {% endif %}
              <li>Referral Bonus</li>
              <li>Full IT Support</li>
            </ul>
            <a href="{% url 'depositemining' plan.ref %}" class="btn"> PURCHASE PLAN</a>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>

  </section><!-- End Pricing Section -->
</main>
{% endblock content %}