{% extends 'account/main.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <header class="section-header text-center">
        <h2>Mining Plans</h2>
      </header>

      <div class="py-4"></div>

      <div class="row gy-4" data-aos="fade-left">

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0;">4 Weeks Contract</h3>
            <div class="price">$100000</div>
            <img src="assets/img/pricing-free.png" class="img-fluid" alt="">
            <ul>
              <li>Min Deposit $100000</li>
              <li>Max Deposit $</li>
              <li>Referral Bonus</li>
              <li>Full IT Support</li>
            </ul>
            <a href="deposite.html" class="btn">PURCHASE PLAN</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <span class="featured">3 Weeks Contract</span>
            <h3 style="color: #65c600;">GOLD PACKAGE</h3>
            <div class="price">$50000</div>
            <img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
            <ul>
              <li>Min Deposit $50000</li>
              <li>Max Deposit $99999</li>
              <li>Referral Bonus</li>
              <li>Full IT Support</li>
            </ul>
            <a href="deposite.html" class="btn">PURCHASE PLAN</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <h3 style="color: #ff901c;">2 Weeks Contract</h3>
            <div class="price">$25000</div>
            <img src="assets/img/pricing-business.png" class="img-fluid" alt="">
            <ul>
              <li>Min Deposit $25000</li>
              <li>Max Deposit $49999</li>
              <li>Referral Bonus</li>
              <li>Full IT Support</li>
            </ul>
            <a href="deposite.html" class="btn">PURCHASE PLAN</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="box">
            <h3 style="color: #ff0071;">1 Week Contract</h3>
            <div class="price">$5000</div>
            <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
            <ul>
              <li>Min Deposit $5000</li>
              <li>Max Deposit $24999</li>
              <li>Referral Bonus</li>
              <li>Full IT Support</li>
            </ul>
            <a href="deposite.html" class="btn">PURCHASE PLAN</a>
          </div>
        </div>

      </div>

    </div>
  </section>

</main>
{% endblock content %}