{% extends 'account/main.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

  <div>
    <div>

      
      <center>
       <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-6">
          <div class="card">
          <div class="card-body">

            <h3 class="center">Upload Photo</h3>
            <br>
            <img src="{% static 'assets/img/camera.png' %}" class="circle" height="100px">

            <br>
            <br>
            <form>
              <div class="row mb-3">
                <div class="col-sm-12">
                  <input class="form-control" type="file" id="formFile">
                </div>
              </div>


              <button type="submit" class="btn" style="width:100%">Update</button>
          </form>

            
          </div>
        </div>

          </center>
    </div>
  </div>

</main>
{% endblock content %}