{% extends 'account/main.html' %}
{% load static %}

{% block content %}


<main id="main" class="main">
  <center>
           <!-- Customers Card -->
              <div class="col-xxl-4 col-xl-6">
  
              <div class="card">
              <div class="card-body">
  
                <h2>Update Email </h2>
                <!-- Floating Labels Form -->
                <form class="row g-3" style="padding: 50px;">
  
                  <p class="text-center text-muted small mb-4">Current Email: <strong>johnlak304@gmail.com</strong></p>
  
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                      <label for="floatingName" style="color:#777777;">Email Token</label>
                    </div>
                  </div>
  
                   <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                      <label for="floatingName" style="color:#777777;">New Email</label>
                    </div>
                  </div>
  
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                      <label for="floatingName" style="color:#777777;">Confirm New Email</label>
                    </div>
                  </div>
  
                  
  
  
                 <div>
                  <button type="submit" class="btn" style="width:100%">Submit</button>
                 </div>
  
                  <div>
                  <button type="submit" class="btn btn-secondary btn-full" style="width:100%">Request Token</button>
                 </div>
                  
                 
                </form><!-- End floating Labels Form -->
  
              </div>
            </div>
  
              </center>
  
    </main>
{% endblock content %}